body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #404040;
    font-size: 20px;
    background-color: #F0F0F0;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    border: 0;
}
.banner_container {
    background-color: #408040;
    width: 100%;
    height: 150px;
    box-shadow: 0px 10px 6px lightgrey;
}
.banner_left {
    float: left;
    width: 400px;
    padding-left: 20px;
    color: #F0F0F0;
}
.banner_right {
    float: right;
    width: 400px;
    text-align: right;
    padding-right: 20px;
    color: #F0F0F0;
}
.contents {
    margin: 48px auto;
    max-width: 800px;
    line-height: 1.75;
    padding: 0 12px;
}
.banner1 {
    box-shadow: 0px 10px 6px lightgrey;
}
h1,
h2,
h3 {
    color: #408040;
    line-height: 1.2;
}
a {
    color: #44c7ff;
}
a:visited {
    color: #e9579e;
}
footer {
    text-align: center;
    line-height: 0.5;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
    background-color: #505050;
    color: #F0F0F0;
}
button {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    background-color: #408040;
    color: #F0F0F0;
    border-style: none;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
